## Question 1 (Easy)

**Title:** Print 1 to 10

### Problem Statement:
Print numbers from 1 to 10 using a for loop.

### Approach:
Use `range(1, 11)` inside a `for` loop and print each value.

In [1]:
# write your code here
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

## Question 2 (Easy)

**Title:** Sum of First N Numbers

### Problem Statement:
Take an integer N as input and find the sum of numbers from 1 to N.

### Approach:
Initialize sum = 0, loop from 1 to N, add each value to sum.

In [7]:
# write your code here
n= int(input("enter a number"))
sum = 0
for i in range(1,n+1):
  sum = sum + i
  print("sum :",sum)

enter a number5
sum : 1
sum : 3
sum : 6
sum : 10
sum : 15

## Question 3 (Easy)

**Title:** Even Numbers from 1 to 50

### Problem Statement:
Print all even numbers between 1 and 50.

### Approach:
Loop from 1 to 50 and check `i % 2 == 0`.

In [8]:
# write your code here
for i in range(1,51):
  if i%2==0:
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

## Question 4 (Easy)

**Title:** Count Multiples of 3

### Problem Statement:
Take N as input and count how many numbers between 1 and N are divisible by 3.

### Approach:
Use a counter variable and increment when `i % 3 == 0`.

In [9]:
# write your code here
n = int(input("enter a number :"))
for i in range(1,n+1):
  if i%3==0:
    print(i)

enter a number :50
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48

## Question 5 (Easy)

**Title:** Multiplication Table

### Problem Statement:
Take a number as input and print its multiplication table from 1 to 10.

### Approach:
Loop from 1 to 10 and multiply with the input number.

In [15]:
# write your code here
n = int(input("enter a number"))
a = int(input("enter a number"))
for i in range(1, a+1):
  print(f"{n}*{i} = {i*n}")

enter a number5
enter a number10
5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45
5*10 = 50

## Question 6 (Easy)

**Title:** Factorial of a Number

### Problem Statement:
Take a number N as input and find its factorial.

### Approach:
Initialize fact = 1 and multiply values from 1 to N.

In [16]:
# write your code here
n= int(input("enter a number"))
fact= 1
for i in range(1,n+1):
  fact = fact*i
  print(f"factorial :", fact)

enter a number5
factorial : 1
factorial : 2
factorial : 6
factorial : 24
factorial : 120

## Question 7 (Easy)

**Title:** Running Sum

### Problem Statement:
Take N as input and print the running sum from 1 to N.

### Approach:
Use a sum variable and update it in each iteration.

In [17]:
# write your code here
n = int(input("enter a number"))
sum = 0
for i in range (1 , n+1):
  sum = sum+i
  print(f"sum:",sum)

enter a number5
sum: 1
sum: 3
sum: 6
sum: 10
sum: 15

## Question 8 (Easy)

**Title:** Add 5 to Each Number

### Problem Statement:
Take N as input and add 5 to each number from 1 to N and print the result.

### Approach:
Loop from 1 to N and use shorthand `value += 5`.

In [19]:
# write your code here
n= int(input("enter a number"))
sum = 0
for i in range( 1 ,n+1):
  sum = sum+5
  print(f"sum :",sum)

enter a number10
sum : 5
sum : 10
sum : 15
sum : 20
sum : 25
sum : 30
sum : 35
sum : 40
sum : 45
sum : 50

## Question 9 (Easy)

**Title:** Count Even and Odd Numbers

### Problem Statement:
Take N as input and count how many even and odd numbers are there between 1 and N.

### Approach:
Use two counters and check with modulo operator.

In [22]:
# write your code here
n = int(input("enter a number"))
even_count = 0
odd_count = 0
for i in range(1,n+1):
  if i%2==0:
    even_count = even_count+1
    print("total even number:",even_count)
  else:
    odd_count = odd_count+1
    print("Total odd number:",odd_count)

enter a number10
total even number: 0
Total odd number: 1
total even number: 1
Total odd number: 1
total even number: 1
Total odd number: 2
total even number: 2
Total odd number: 2
total even number: 2
Total odd number: 3
total even number: 3
Total odd number: 3
total even number: 3
Total odd number: 4
total even number: 4
Total odd number: 4
total even number: 4
Total odd number: 5
total even number: 5
Total odd number: 5

## Question 10 (Easy)

**Title:** Squares from 1 to N

### Problem Statement:
Take N as input and print the square of each number from 1 to N.

### Approach:
Use `i * i` inside the loop.

In [26]:
# write your code here
n = int(input("enter a number"))
for i in range(1,n+1):
  print(f"square of {i} is :",i*i)

enter a number5
square of 1 is : 1
square of 2 is : 4
square of 3 is : 9
square of 4 is : 16
square of 5 is : 25

## Question 11 (Medium)

**Title:** Sum of Even and Odd Separately

### Problem Statement:
Take N as input and find the sum of all even numbers and all odd numbers between 1 and N.

### Approach:
Use two sum variables and check each number with modulo.

In [4]:
# write your code here
n = int(input("enter a number"))
even_sum=0
odd_sum=0
for i in range(1,n+1):
  if i%2==0:
    even_sum= even_sum+i
    #print(f"even sum :", even_sum)
  else:
    odd_sum= odd_sum+i
    #print(f"odd sum :", odd_sum)
print(f"even sum :", even_sum)
print(f"odd sum :", odd_sum)

enter a number10
even sum : 30
odd sum : 25

## Question 12 (Medium)

**Title:** Divisible by 3 and 5

### Problem Statement:
Take N as input and count how many numbers between 1 and N are divisible by both 3 and 5.

### Approach:
Use logical AND condition inside the loop.

In [2]:
# write your code here
n= int(input("enter a number"))
num1 = 3
num2 = 5
count = 0
for i in range(1 , n+1):
  if i%num1==0 and i%num2==0:
    count+=1
print(f"count :", count)

enter a number45
count : 3

## Question 13 (Medium)

**Title:** Skip Multiples of 4

### Problem Statement:
Take N as input and print numbers from 1 to N but skip multiples of 4.

### Approach:
Use `continue` when the number is divisible by 4.

In [4]:
# write your code here
n= int(input("enter a number: "))
for i in range(1,n+1):
  if i%4==0:
    continue
  print(f"number :", i)

enter a number: 15
number : 1
number : 2
number : 3
number : 5
number : 6
number : 7
number : 9
number : 10
number : 11
number : 13
number : 14
number : 15

## Question 14 (Medium)

**Title:** Find the Largest Number

### Problem Statement:
Take N as input and find the largest number between 1 and N using a loop.

### Approach:
Assume the first value as largest and update using `if`.

In [29]:
# write your code here
n= int(input("enter a number: "))
c = int(input("enter a number: "))
largest = n
for i in range (1 ,n+1):
  if c>largest:
   largest=c
print(f"largest number :", largest)

enter a number: 52
enter a number: 85
largest number : 85

## Question 15 (Medium)

**Title:** Power of a Number

### Problem Statement:
Take two numbers `a` and `b` as input and calculate `a` raised to the power `b` using a for loop.

### Approach:
Initialize result = 1 and multiply it `b` times.

In [31]:
# write your code here
a= int(input("enter a number: "))
b= int(input("enter a number: "))
result = 1
for i in range(1,b+1)
  result = result*a
print(f"result :", result)

enter a number: 2
enter a number: 4
result : 16

## Question 16 (Hard)

**Title:** Check Prime Number

### Problem Statement:
Take a number as input and check whether it is prime or not.

### Approach:
Loop from 2 to N-1 and use `break` if divisible.

In [9]:
# write your code here
n = int(input("enter a number : "))
for i in range(2 , n):
  if n%i==0:
   print("not prime no ")
   break
  else:
   print("prime no")

enter a number : 11
prime no
prime no
prime no
prime no
prime no
prime no
prime no
prime no
prime no

## Question 17 (Hard)

**Title:** Prime Numbers Between 1 and N

### Problem Statement:
Take N as input and print all prime numbers between 1 and N.

### Approach:
Use nested loops and a flag variable for prime checking.

In [18]:
# write your code here
n  = int(input("enter a number: "))
for i in range( 2, n+1):
   is_prime = True
   for j in range(2,i):
    if i%j==0:
      is_prime =False
      break
   if is_prime:
    print(i)

enter a number: 10
2
3
5
7

## Question 18 (Hard)

**Title:** First Number Divisible by 7 and 11

### Problem Statement:
Take N as input and find the first number between 1 and N that is divisible by both 7 and 11. Stop after finding it.

### Approach:
Use logical AND and stop the loop using `break`.

In [21]:
# write your code here
n = int(input("enter a number : "))
for i in range(1,n+1):
  if i%7==0 and i%11==0:
    print( "first no divisible by 7 and 11 :", i)
    break

enter a number : 258
first no divisible by 7 and 11 : 77

## Question 19 (Hard)

**Title:** Number Pattern

### Problem Statement:
Take N as input and print a right-angled number pattern using nested loops.

Example:
1
12
123

### Approach:
Use an outer loop for rows and an inner loop for printing numbers.

In [ ]:
# write your code here
doubt