# Python Practice: Tuple and Set (Practice Only)

This notebook contains **practice questions only** on **Tuples** and **Sets**.

Instructions:
- Questions are written in **text cells**
- Write your solution in the **code cell below each question**
- Do NOT use any advanced concepts

##  Tuple Practice Questions

### Question 1
Create a tuple of 5 integers and print it.

In [1]:
# write your answer here
tup1=(1,5,6,7,9)
print(tup1)

(1, 5, 6, 7, 9)

### Question 2
Create a tuple with different data types (int, float, string, boolean) and print each element separately.

In [6]:
# write your answer here
tup2=(10,10.5,"string",True)
print(tup2[0],tup2[1],tup2[2],tup2[3])

10 10.5 string True

### Question 3
Find the length of a tuple containing names of 4 students.

In [7]:
# write your answer here
students_name=("cheeku","aashita","rohit","ram")
print("length of tuple:",len(students_name))

length of tuple: 4

### Question 4
Access and print the last element of a tuple.

In [8]:
# write your answer here
students_name=("cheeku","aashita","rohit","ram")
print(students_name[-1])

ram

### Question 5
Check whether an element exists in a tuple or not.

In [9]:
# write your answer here
students_name=("cheeku","aashita","rohit","ram")
"ram" in students_name

True

### Question 6
Convert a tuple into a list.

In [11]:
# write your answer here
t= (1,3,54,4,5,4,)
list1= list(t)
print(list1)

[1, 3, 54, 4, 5, 4]

### Question 7
Convert a list into a tuple.

In [12]:
# write your answer here
list1= [1,2,5,6,70]
t = tuple(list1)
print(t)

(1, 2, 5, 6, 70)

### Question 8
Create a tuple with repeated values and count how many times an element appears.

In [17]:
# write your answer here
t= (2,2,3,6,4,7,2,9,8,9,5,10)
for i in t:
  print(t.count(i), end="")

331111321211

### Question 9
Find the index of an element in a tuple.

In [14]:
# write your answer here
t= (2,2,3,6,4,7,2,9,8,9,5,10)
print(t.index(9))

7

### Question 10
Demonstrate that tuples are immutable (cannot be changed).

In [15]:
# write your answer here
t = (1,2,3,5,4,10)
t[1]=200 # this line gives an error which shows 'tuple' object does not support item assignment

print(t)

TypeError: 'tuple' object does not support item assignment